/MiniNetflix/backend/MiniNetflix.API/obj
/MiniNetflix/backend/MiniNetflix.API/bin
/MiniNetflix/backend/MiniNetflix.Core/obj
/MiniNetflix/backend/MiniNetflix.Core/bin
/MiniNetflix/backend/MiniNetflix.Infrastructure/bin
/MiniNetflix/backend/MiniNetflix.Infrastructure/obj
